@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: rgb(33, 84, 128);
    font: normal 16pt arial; 
    color: white;  
}
h1 {
    color: white;
    font-size: 3em;
}
section {
    background-color: white;
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.552);
    color:  rgb(33, 84, 128);
    font-weight: bolder;
}
div {
    padding:10px 0;
}
 img {
    width: 300px;
    height: 300px;  
}
p {
    font-style: italic;
    text-align: center;
    font-size: 15pt;
}
